* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
    font-weight: 500;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    padding: 15px 55px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 999px;
}

a {
    text-decoration: none;
}

.Separate {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #83a17d;
}

/* Header */

/* header {
    background: linear-gradient(to right, #fff, #fff, #a5ddcc, #fff);
} */

.header-top {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1em;
    display: flex;
    align-items: center;
}

.logo__icon {
    font-size: 0.6em;
    display: flex;
    width: 2em;
    height: 4em;
    position: relative;
    margin-right: 1.9em;
    rotate: 25deg;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 1.2em solid transparent;
    border-right: 1.2em solid transparent;
    border-top: 1.9em solid #143c3c;
    border-radius: 100%;
}

.triangle-left {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 1.9em solid #143c3c;
    border-bottom: 1.2em solid transparent;
    border-top: 1.2em solid transparent;
    border-radius: 100%;
    top: 1.1em;
    right: -0.9em;
    rotate: 25deg;
}

.triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1.9em solid #143c3c;
    border-bottom: 1.2em solid transparent;
    border-top: 1.2em solid transparent;
    border-radius: 100%;
    top: 1.1em;
    left: -0.6em;
    rotate: 335deg;
}

.logo span {
    display: inline-flex;
    font-size: 1.6em;
    position: relative;
}

.logo span::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: #83a17d;
    top: 0.2em;
    left: -1.25em;
}

/* Nav */

.nav-bar,
.nav-bar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    margin-left: 88px;
    column-gap: 88px;
}

.nav-bar__list {
    column-gap: 38px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
}

.nav-bar__list a {
    color: #575d5e;
}

a.active {
    position: relative;
    color: #152427;
    padding-bottom: 27px;
}

a.active::after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background: #152427;
    bottom: 0;
    left: 0;
}

.header-top__separate {
    margin-top: 13px;
    background: linear-gradient(to right, #ffffff, #83a17d, #ffffff);
}

/* Hero */
.hero {
    margin-top: 28px;
    margin-bottom: 42px;
}

.hero__body {
    display: flex;
}

.hero__info {
    width: 45%;
}

.hero__heading {
    padding-top: 75px;
    font-family: "Public Sans";
    max-width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}
.hero__desc {
    max-width: 341px;
    margin-top: 20px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__cta {
    display: flex;
    align-items: center;
    margin-top: 42px;
    gap: 36px;
}

.cta {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cta::before,
.cta::after {
    content: "";
    display: inline-block;
}

.cta::before {
    display: inline-block;
    position: absolute;
    top: -24.5px;
    left: -2.5px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 5px solid #143c3c;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.cta::after {
    position: absolute;
    width: 44px;
    height: 44px;
    background: #83a17d;
    border-radius: 50%;
}

.cta__img {
    z-index: 1;
    position: absolute;
    top: 2px;
    left: 25px;
}

.cta__links {
    display: inline-block;
    margin-left: 55px;
}

.hero__media {
    width: 55%;
    position: relative;
}

.hero__figure::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    top: 122px;
    left: 156px;
}

.hero__figure {
    display: flex;
    flex-shrink: 0;
}

.hero__img {
    max-width: 202px;
    height: 466px;
    border-top-right-radius: 110px;
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    object-fit: cover;
    margin-right: 20px;
    z-index: 1;
}

.hero__img:nth-child(2) {
    margin-top: 137px;
}

.hero__img:last-child {
    margin-right: 0;
}
