* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
    font-weight: 500;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;
    height: var(--height);
    line-height: var(--height);
    padding: 0 52px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 999px;
}

a {
    text-decoration: none;
}

.separate {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #83a17d;
}

.heading-h2,
.heading-h2-line {
    --width: 520px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
    position: relative;
}

.heading-h2-line::after {
    position: absolute;
    top: 76%;
    width: 66px;
    height: 2px;
    background: #152427;
    margin-left: 19px;
}

.heading-h3-line {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62px;
    color: #152427;
    position: relative;
    left: 46px;
}

.heading-h3-line::before {
    position: absolute;
    top: -3px;
    left: -46px;
    width: 25px;
    height: 1px;
    background: #152427;
}

.heading-h2-line::after,
.heading-h3-line::before {
    content: "";
    display: inline-block;
}

.heading-h3 {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.heading-h4 {
    font-family: "Public Sans";
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #152427;
}

.desc-14 {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
    word-break: break-all;
}

.desc-16 {
    font-weight: 500;
    line-height: 1.62;
    color: #7d8188;
}

.desc-18 {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
}
/* Header */

/* header {
    background: linear-gradient(to right, #fff, #fff, #a5ddcc, #fff);
} */

.header-top {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1em;
    display: flex;
    align-items: center;
}

.logo__icon {
    font-size: 0.6em;
    display: flex;
    width: 2em;
    height: 4em;
    position: relative;
    margin-right: 1.9em;
    rotate: 25deg;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 1.2em solid transparent;
    border-right: 1.2em solid transparent;
    border-top: 1.9em solid #143c3c;
    border-radius: 100%;
}

.triangle-left {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 1.9em solid #143c3c;
    border-bottom: 1.2em solid transparent;
    border-top: 1.2em solid transparent;
    border-radius: 100%;
    top: 1.1em;
    right: -0.9em;
    rotate: 25deg;
}

.triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1.9em solid #143c3c;
    border-bottom: 1.2em solid transparent;
    border-top: 1.2em solid transparent;
    border-radius: 100%;
    top: 1.1em;
    left: -0.6em;
    rotate: 335deg;
}

.logo span {
    display: inline-flex;
    font-size: 1.6em;
    position: relative;
}

.logo span::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: #83a17d;
    top: 0.2em;
    left: -1.25em;
}

/* Nav */

.nav-bar,
.nav-bar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    margin-left: 88px;
    column-gap: 88px;
}

.nav-bar__list {
    column-gap: 38px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
}

.nav-bar__list a {
    color: #575d5e;
}

a.active {
    position: relative;
    color: #152427;
    padding-bottom: 27px;
}

a.active::after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background: #152427;
    bottom: 0;
    left: 0;
}

.header-top__separate {
    margin-top: 13px;
    background: linear-gradient(to right, #ffffff, #83a17d, #ffffff);
}

/* Hero */
.hero {
    margin-top: 28px;
    padding-bottom: 88px;
}

.hero__body {
    display: flex;
    margin-top: 60px;
}

.hero__info {
    width: 45%;
}

.hero__heading {
    padding-top: 75px;
    font-family: "Public Sans";
    max-width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}
.hero__desc {
    max-width: 341px;
    margin-top: 20px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__cta {
    display: flex;
    align-items: center;
    margin-top: 42px;
    gap: 36px;
}

.cta {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cta::before,
.cta::after {
    content: "";
    display: inline-block;
}

.cta::before {
    display: inline-block;
    position: absolute;
    top: -24.5px;
    left: -2.5px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 5px solid #143c3c;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.cta::after {
    position: absolute;
    width: 44px;
    height: 44px;
    background: #83a17d;
    border-radius: 50%;
}

.cta__img {
    z-index: 1;
    position: absolute;
    top: 3px;
    left: 25px;
    max-width: 12px;
    max-height: 12px px;
}

.cta__links {
    display: inline-block;
    margin-left: 55px;
}

.hero__media {
    width: 55%;

    position: relative;
}

.hero__figure::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    top: 122px;
    left: 156px;
}

.hero__figure {
    display: flex;
    flex-shrink: 0;
}

.hero__img {
    max-width: 202px;
    height: 466px;
    border-top-right-radius: 110px;
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    object-fit: cover;
    margin-right: 20px;
    z-index: 1;
}

.hero__img:nth-child(2) {
    margin-top: 137px;
}

.hero__img:last-child {
    margin-right: 0;
}

.hero__union {
    position: absolute;
}

.hero__union:first-child {
    position: absolute;
    top: -32px;
    left: -158px;
    z-index: 1;
}

.hero__union:first-child .hero__union--img:first-child {
    position: absolute;
    top: 17px;
    left: -35px;
}

.hero__union:last-child {
    rotate: 180deg;
    position: absolute;
    bottom: -88px;
    right: 0;
    z-index: 1;
}

.hero__union:last-child .hero__union--img:first-child {
    position: absolute;
    top: 10px;
    left: -40px;
}

/* Social */

.social {
    margin: 42px 0 26px 0;
}

.social__body {
    background: #e2eddf;
    border-radius: 100.5px;
}

.social__img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 121px;
}

.social__img div:last-child {
    display: flex;
    gap: 14px;
}

.social__img div:first-of-type {
    display: flex;
    gap: 11px;
}

/* Service */

.service {
    margin: 80px 0;
}

.service__row {
    display: flex;
    justify-content: space-between;
}

.service__h2 {
    margin-top: 12px;
    width: 520px;
}

.service__cta {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    column-gap: 17px;
    margin-right: 73px;
}

.btn__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border: none;
    background: #e2eddf;
    border-radius: 50%;
    color: #152427;
    transition: 0.25s;
}

.btn__cta:first-child {
    rotate: 180deg;
}

.btn__cta:hover {
    background: #143c3c;
    color: #fff;
    cursor: pointer;
}

.service__list {
    margin-top: 76px;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service__item {
    width: 370px;
    border-radius: 20px;
    background: #efefef;
    transition: 0.25s;
}

.service__item:hover {
    background: #ffffff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transform: scale(1.01);
    cursor: pointer;
}

.service__item-thumb {
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.service__item--info {
    padding: 24px 0 24px 18px;
}

.service__item--desc {
    margin-top: 18px;
    max-width: 268px;
}

/* About  */

.about {
    margin: 70px 0;
}

.about__row {
    display: flex;
    justify-content: space-between;
    column-gap: 64px;
}

.about__media {
    width: 50%;
    height: 557px;
    position: relative;
}

.about__media::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 591px;
    height: 557px;
    background: #4dbb9a;
    filter: blur(550px);
    top: 100px;
    left: 0;
}

.about__media--union img:first-child {
    position: absolute;
    top: 12px;
    left: 20px;
    z-index: 2;
}

.about__media--union img:last-child {
    position: absolute;
    top: 0;
    left: 54px;
    z-index: 1;
}

.about__img {
    display: flex;
    column-gap: 21px;
}

.about__img img {
    width: 285px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
}

.about__img img:first-of-type {
    position: absolute;
    bottom: 0;
    left: 0;
}

.about__img img:last-of-type {
    position: absolute;
    top: 13px;
    right: 0;
}

.about__team {
    position: absolute;
    max-width: 143px;
    max-height: 144px;
    margin-right: -9px;
    margin-bottom: 9px;
    right: 0;
    bottom: 0;
    padding: 19px 17px 11px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
    z-index: 1;
}

.about__team--desc {
    margin-top: 6px;
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.about__team label {
    margin-top: 10px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.about__team--value {
    margin-top: 10px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.about__range--max {
    margin-top: 3px;
    width: 100%;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.about__range--now {
    width: 40%;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

.heading-h4__team {
    display: flex;
    align-items: end;
    flex-direction: column;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #143c3c;
    border-radius: 50%;
}

.info__team {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.avatar__team {
    flex-shrink: 0;
}

.avatar__img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.avatar__img:not(:first-of-type) {
    margin-left: -10px;
}

.about__body {
    width: 485px;
}

.about__title {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
}

.about__body--row {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
}

.about__body--row + .separate {
    margin-top: 20px;
}
.about__body--row ~ .about__body--row {
    margin-top: 38px;
}

/* process */
.process {
    padding: 45px 0 70px;
}

.process__title {
    margin-top: 20px;
    width: 477px;
}
.process_test {
    display: flex;
    flex-direction: column;
}
.process__list {
    margin-top: 81px;
}

.process__item {
    padding: 50px 0 50px 30px;
    position: relative;
    transition: 0.25s;
}

.process__item:hover {
    background: #e2eddf;
    border-radius: 33px;
}

.process__item:hover + .process__item--separate,
/* .process__item:hover ! .process__item--separate, */
.process__item:hover .course__desc {
    display: none;
}

.process__item:hover .process__hero,
.process__item:hover .course__link {
    display: inline-block;
}

.process__item--separate {
    transition: 0.25s;
}

.course___body,
.process__item__left,
.process__course {
    display: flex;
}

.course___body {
    align-items: center;
    justify-content: space-between;
    height: 84px;
}

.process__item__left {
    align-items: center;
    column-gap: 64px;
}
.process__number {
    width: 107px;
    font-weight: 600;
    font-size: 7.2rem;
    color: #143c3c;
}

.process__course {
    /* flex-direction: column; */
}

.course__title {
    position: relative;
    font-weight: 600;
    font-size: 2.2rem;
    color: #152427;
    width: 176px;
}
.course__link {
    position: absolute;
    text-decoration: underline;
    bottom: 40px;
    display: none;
}

.course__desc {
    width: 572px;
    transition: 0.25s;
}

.process__hero {
    position: absolute;
    max-width: 450px;
    max-height: 444px;
    object-fit: cover;
    bottom: 0;
    right: 0;
    margin-right: 92px;
    display: none;
    transition: 0.25s;
}

/* Past Process */
.past-process {
    margin: 80px 0 80px;
    padding-bottom: 63px;
    background: #143c3c;
}

.past-process__row {
    position: relative;
    padding-top: 116px;
    display: flex;
    justify-content: space-between;
}
.past-process__title {
    width: 457px;
    color: #e7f9f9;
}

.past-process__row .heading-h2-line::after {
    background-color: #83a17d;
}

.past-process__intro {
    width: 570px;
}

.past-process__link {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.past-process__btn-cta {
    width: 54px;
    height: 54px;
    border: none;
    background: none;
    color: #80a07b;
    transition: 0.25s;
    cursor: pointer;
}

.past-process__video {
    position: relative;
    margin-top: 65px;
    width: 100%;
    height: 544px;
}

.past-process__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118px;
    height: 118px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}

.past-process__union img:first-child {
    position: absolute;
    top: 150px;
    right: -150px;
    transform: scaleY(-1);
    rotate: 270deg;
    z-index: 1;
}

.past-process__union img:last-child {
    position: absolute;
    top: 218px;
    right: -30px;
}

/* customer */
.customer {
    padding: 60px 0 80px;
}
.customer__title,
.customer__desc {
    margin: 0 auto;
    text-align: center;
}

.customer__title {
    max-width: 520px;
}

.customer__desc {
    margin-top: 20px;
    max-width: 547px;
}

.customer__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.customer__item {
    position: relative;
    width: 350px;
    height: 362px;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    transition: 0.25s;
}

.customer__item:hover {
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    border-radius: 160px;
    border: none;
    transform: translateY(-59px);
}

.customer__item--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.customer__item__title {
    margin-top: 26px;
}

.customer__item__desc {
    word-break: keep-all;
    margin-top: 9px;
    width: 264px;
}

/* Blog */
.blog {
    margin: 60px 0 100px;
}

.blog__row {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.blog__title .heading-h2-line {
    margin-top: 10px;
    width: 520px;
}

.blog__row .desc-16 {
    width: 409px;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog__item {
    max-width: 360px;
    height: 521px;
    transition: 0.25s;
}

.blog__item:hover {
    border-radius: 40px 40px 20px 20px;
    cursor: pointer;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}

.blog__item:hover .blog__content {
    padding: 0 30px;
}

.blog__item:hover .blog__content span:first-of-type {
    color: #e2eddf;
    background: #143c3c;
}

.blog__item:hover .separate {
    margin-top: 9px;
}

.blog__img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 40px 40px 0px 0px;
}

.blog__content {
    transition: 0.25s;
}

.blog__content span:first-of-type {
    display: inline-block;
    margin-top: 26px;
    padding: 7px 36px;
    background: #e2eddf;
    border-radius: 20px;
    color: #000000;
    transition: 0.25s;
}

.blog__item__desc {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #143c3c;
    transition: 0.25s;
}
.blog__item .separate {
    margin-top: 38px;
    transition: 0.25s;
}

.blog__item span:last-of-type {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    line-height: 1.2;
    color: #575d5e;
}

/* Footer   */
footer {
    background: #143c3c;
}

.footer__inner {
    padding-bottom: 50px;
}
.footer__body {
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
}

.footer__heading-h4 {
    font-size: 3.2rem;
    color: #ffffff;
}

.footer__email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.footer__input input {
    font-weight: 600;
    font-size: 2.2rem;
    color: #6a8383;
    border: none;
    background: none;
}

.footer__input .separate {
    margin-top: 36px;
}

.footer__social {
    margin-top: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 22px;
}

.footer__social .footer__social--icon {
    width: 52px;
    height: 52px;
    border: 1px solid #265252;
    border-radius: 50%;
    position: relative;
}

.footer__social--icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer__social--icon:hover {
    background: #a75325;
    cursor: pointer;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.footer__list p {
    color: #ffffff;
    margin-bottom: 20px;
}

.footer__list li {
    margin-bottom: 20px;
}

.footer__list li a {
    color: #6a8383;
}

.footer__separate {
    margin-top: 45px;
}
